<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory name="PostgreSQL">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">postgres</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/webtoxpi</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.enable_lazy_load_no_trans">true</property>
  <property name="hbm2ddl.auto">create</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="show_sql">true</property>

  <mapping class="edu.tamu.webtoxpi.dao.entity.Components" file="edu/tamu/webtoxpi/dao/entity/Components.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Components.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Importinfo" file="edu/tamu/webtoxpi/dao/entity/Importinfo.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Importinfo.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Notes" file="edu/tamu/webtoxpi/dao/entity/Notes.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Notes.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Orders" file="edu/tamu/webtoxpi/dao/entity/Orders.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Orders.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Projectmembers" file="edu/tamu/webtoxpi/dao/entity/Projectmembers.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Projectmembers.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Projects" file="edu/tamu/webtoxpi/dao/entity/Projects.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Projects.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Results" file="edu/tamu/webtoxpi/dao/entity/Results.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Results.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Resultshistory" file="edu/tamu/webtoxpi/dao/entity/Resultshistory.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Resultshistory.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Rowheaders" file="edu/tamu/webtoxpi/dao/entity/Rowheaders.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Rowheaders.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Rowtypes" file="edu/tamu/webtoxpi/dao/entity/Rowtypes.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Rowtypes.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Units" file="edu/tamu/webtoxpi/dao/entity/Units.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Units.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Userroles" file="edu/tamu/webtoxpi/dao/entity/Userroles.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Userroles.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Users" file="edu/tamu/webtoxpi/dao/entity/Users.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Users.hbm.xml"/>
  <mapping class="edu.tamu.webtoxpi.dao.entity.Viewtemplates" file="edu/tamu/webtoxpi/dao/entity/Viewtemplates.hbm.xml" package="edu.tamu.webtoxpi.dao.entity" resource="edu/tamu/webtoxpi/dao/entity/Viewtemplates.hbm.xml"/>
</session-factory>
</hibernate-configuration>
